$colorSecondaryLight: hsl(198, 93%, 36%);
$colorSecondaryDark: hsl(198, 100%, 27%);

$colorFontHeading: hsl(240,29%,16%);
$colorFontText: hsl(222,5%,48%);


$colorWhite: hsl(0,0%,100%);



$maxWidth: 150rem;